<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>368433186621-msp91u0rfbspsequsr8er63kcfu88jhj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.368433186621-msp91u0rfbspsequsr8er63kcfu88jhj</string>
	<key>API_KEY</key>
	<string>AIzaSyAWIexYe6BepjEk7P0XihhEPkN4YduKvtU</string>
	<key>GCM_SENDER_ID</key>
	<string>368433186621</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled5</string>
	<key>PROJECT_ID</key>
	<string>chat-app-424f7</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-424f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:368433186621:ios:0760bc78794ba313eba754</string>
</dict>
</plist>